/* Global Customizations that don't fit into generic utilities */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Custom Scrollbar for a premium dark theme feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: var(--radius-full);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
